In [5]:
num=int(input("Please provide an input:"))
rem = num%2
if rem==0:
    print("Even")
else:
    print("Odd")

Please provide an input: 79

Odd

In [15]:
x = int(input("Enter first number:"))

Enter first number: 5

In [17]:
y = int(input("Enter second number:"))

Enter second number: 88

In [19]:
z = int(input("Enter third number:"))

Enter third number: 1

In [21]:
large = 0
if x>y and x>z:
    large = x
elif y>x and y>z:
    large=y
else:
    large=z
print("Largest of {},{}, and {} is {}".format(x,y,z,large))

Largest of 5,88, and 1 is 88

Prgm to accept a 4 digit year and a month between 1 and 12. Find number of days in the month for the year.

In [59]:
year = int(input("Provide a year:"))
month = int(input("Provide a month:"))
if year in range(1900,2100) and month in range(1,13):
    if month ==2:                # Check if month is Feb
        if year % 4==0:          # Leap year such as 2008, 2012
            print("Its a leap year!")
            days = 29
        else:
            days =28
    elif month in [4,6,9,11]:
        days = 30
    else:
        days =31
    print("Number of days for the month {} of year {} is {}".format(month, year, days))    
else:
    print("Invalid year/month")

Provide a year: 2012
Provide a month: 2

Its a leap year!
Number of days for the month 2 of year 2012 is 29

In [65]:
print("I don't know you!")

I don't know you!

Largest of N decimal numbers

In [3]:
n = int(input("How many numbers?"))
print("Enter {} numbers:".format(n))
largest =0
i = 1
while i<=n:
    x = float(input())
    if x > largest:
        largest = x
    i+=1
print("Largest is ", largest)

How many numbers? 5

Enter 5 numbers:

 3
 4.22
 78.6
 100.1
 5.678

Largest is  100.1

Accept N numbers and find sum and average of even and odd numbers separately.

In [13]:
n = int(input("How many numbers?"))
print("Enter {} numbers:".format(n))
i =1
sum_even = sum_odd = 0
avg_even = avg_odd = 0
count_even = count_odd =0
while i<=n:
    x = int(input())
    if x%2 ==0:
        print("Even number:", x)
        sum_even +=x
        count_even +=1
    else:
        print("Odd number:",x)
        sum_odd +=x
        count_odd +=1
    i+=1
print("Sum and Average of even numbers are {} and {}". format (sum_even, round(sum_even/count_even,2)))    
print("Sum and Average of odd numbers are {} and {}". format (sum_odd, round(sum_odd/count_odd,2)))

How many numbers? 5

Enter 5 numbers:

 3

Odd number: 3

 4

Even number: 4

 5

Odd number: 5

 7

Odd number: 7

 8

Even number: 8
Sum and Average of even numbers are 12 and 6.0
Sum and Average of odd numbers are 15 and 5.0

Using Lists - find sum and average of n numbers

In [6]:
n = int(input("How many numbers?"))
print("Enter {} numbers:".format(n))
i =1
l1 = []
l2 = []
while i<=n:
    x = int(input())
    if x%2 ==0:
        l1.append(x)
    else:
        l2.append(x)
    i+=1
print("Even numbers: ")
for j in l1:
    print(j)
print("Sum and Average of even numbers are {} and {}". format (sum(l1), round(sum(l1)/len(l1),2)))   
print("Odd numbers:")
for j in l2:
    print(j)
print("Sum and Average of odd numbers are {} and {}". format (sum(l2), round(sum(l2)/len(l2),2)))

How many numbers? 5

Enter 5 numbers:

 4
 2
 3
 1
 6

Even numbers:
4
2
6
Sum and Average of even numbers are 12 and 4.0
Odd numbers:
3
1
Sum and Average of odd numbers are 4 and 2.0

Program to accept name and marks of 3 subjects for a student. Find total marks, final result (passed/failed) and grade.

In [29]:
name =input("What is your name?")
mark1 = int(input("Give first marks:"))
mark2 = int(input("Give second marks:"))
mark3 = int(input("Give third marks:"))
if mark1 not in range(0,101) or mark2 not in range(0,101) or mark3 not in range(0,101):
    print("You have entered invalid marks!!")
else:     
    total = mark1 + mark2 + mark3
    if mark1 < 35 or mark2 < 35 or mark3 < 35 or total < 120:
        result = "Failed"
    else:
        result = "Passed"
    #grade
    if result =="Passed":
        if total>=240:
            grade = "Outstanding"
        elif total >=180:
            grade = "Excellent"
        elif total >= 150:
            grade = "Good"
        else:
            grade = "Average"
    else:
        grade = "Nil"
    print ("{} has {} the exam with {} total marks and {} grade".format(name,result,total,grade))

What is your name? titu
Give first marks: 34
Give second marks: 45
Give third marks: 68

titu has Failed the exam with 147 total marks and Nil grade

Factorial of a number

In [43]:
n = int(input("Provide a number:"))
fact =1
i=1
while i<=n:
    if n==0 or n==1:
        fact = 1
    else:    
        fact = fact * i
        i+=1
print("Factorial of {} is {}".format(n,fact))

Provide a number: 6

Factorial of 6 is 720

Find Sum of first N +ve numbers

In [50]:
n=int(input("Enter how many numbers:"))
sum =0
i =1
while i<=n:
    sum =sum+i
    i+=1
print("Sum of first {} natural numbers is {} ".format(n,sum))

Enter a number: 7

Sum of first 7 natural numbers is 28

Find Sum and Average of any N numbers; read decimals also

In [55]:
n = int(input("Enter how many numbers:"))
sum=0
average =0
i =1
print("Enter the input numbers:")
while i<=n:
    a = float(input())
    sum =sum + a
    i+=1
average = round(sum/n,2)
print("Sum and average of {} numbers entered are {} and {} respectively".format(n, sum, average))

Enter how many numbers: 4

Enter the input numbers:

 2.3
 3
 2.4
 1.5

Sum and average of 4 numbers entered are 9.2 and 2.3 respectively

Display the Multiplication table of a number

In [60]:
n = int(input("Enter a number:"))
prdt =1
i=1
while i<=10:
    prdct = n*i
    print(" {} * {} = {}".format(n,i,prdct))
    i+=1

Enter a number: 7

 7 * 1 = 7
 7 * 2 = 14
 7 * 3 = 21
 7 * 4 = 28
 7 * 5 = 35
 7 * 6 = 42
 7 * 7 = 49
 7 * 8 = 56
 7 * 9 = 63
 7 * 10 = 70

Reverse of a number

In [10]:
n = int(input("Enter any number:"))
rev =0
rem = 0
while n !=0:
    rem = n % 10
    rev = rev * 10 + rem
    print(rev)
    n //= 10
print("Reverse of the entered number is ", rev)

Enter any number: 5673

3
37
376
3765
Reverse of the entered number is  3765

Sum of digits of a number accepted from console

In [20]:
n = int(input("Enter any number:"))
sum =0
while n !=0:
    digit = n % 10
    sum = sum + digit
    n = n // 10
print("Sum of digits of the entered number is ", sum)

Enter any number: 46571

Sum of digits of the entered number is  23

Palindrome or not

In [32]:
n = int(input("Enter any number:"))
rev =0
rem = 0
original = n
while n!=0:
    rem = n% 10
    rev = rev*10 + rem
    n = n //10
print("Reverse is", rev)
if rev == original:
    print("Its a palindrome number")
else:
    print("Its not a palindrome number")

Enter any number: 343

Reverse is 343
Its a palindrome number

Prime numbers between 1 and 100

In [5]:
i =1
while i <=100:
    j=2
    flag =0
    while j <= i//2:
        if i%j == 0:
            flag = 1
            break
        j+=1
    if flag==0:
       print(i, end='\t')
    i +=1

1	2	3	5	7	11	13	17	19	23	29	31	37	41	43	47	53	59	61	67	71	73	79	83	89	97

In [11]:
for i in range(11):
    print(i, end='\t')

0	1	2	3	4	5	6	7	8	9	10

In [15]:
for i in range(1,11):
    print(i, end='\t')

1	2	3	4	5	6	7	8	9	10

In [17]:
for i in range(1,50,2):
    print(i, end='\t')

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [21]:
# even numbers below 50
for i in range(50,1,-2):
    print(i, end='\t')

50	48	46	44	42	40	38	36	34	32	30	28	26	24	22	20	18	16	14	12	10	8	6	4	2

In [25]:
for i in range(10,0,-1):
    print(i, end='\t')

10	9	8	7	6	5	4	3	2	1

In [27]:
for i in range(10,-1,-1):
    print(i, end='\t')

10	9	8	7	6	5	4	3	2	1	0