Strings - Strings are data types in python used to store text values.
A constant string value must be enclosed within double quotes "" , or single quotes ''.
There is no character data type in python as in C/C++/Java , multiline text are defined within a pair using 3 sucessive single or double
quotes i.e. ' ' ' or " " " .

In [3]:
str1 = '''
Kashi is a good boy.
Kashi is mischievous
'''

In [5]:
print(str1)

Kashi is a good boy.
Kashi is mischievous

In [8]:
for i in str1:
    print(i)

K
a
s
h
i

i
s

a

g
o
o
d

b
o
y
.


K
a
s
h
i

i
s

m
i
s
c
h
i
e
v
o
u
s

Program to find the number of vowels in a string, the string must be accepted from the console.

In [10]:
str_input = input("Enter your text:")
count =0
for i in str_input:
    if i.upper() in ['A','E','I','O','U']:
        count+=1
print(f"There are {count} vowels in the give string {str_input}")

Enter your text: kashinath jayasankar

There are 7 vowels in the give string kashinath jayasankar

Program to find the number of consonents in a text accepted from  the console , A consonet is opposite of vowels , i.e, all other 21 letters

In [15]:
str_input = input("Enter your text:")
count =0
for i in str_input:
    if i.upper() not in ['A','E','I','O','U']:
        count+=1
print("There are {} consonants in the string {}".format(count, str_input))

Enter your text: hello java

There are 6 consonants in the string hello java

Program to find the number of alphabets (upper and lower seperatly ), digits from 0-9 , spaces , other symbols

In [18]:
str_input = input("Enter your text:")
ucount = lcount = digt = spaces = symbols = 0
for i in str_input:
    if i.isupper():
        ucount+=1
    elif i.islower():
        lcount+=1
    elif i.isdigit():
        digt+=1
    elif i.isspace():
        spaces+=1
    else:
        symbols+=1
print("There are {} upper case letters, {} lower case letters, {} digits, {} spaces and {} symbols in the given string".format(ucount, lcount,digt,spaces,symbols))

Enter your text: As you sow, so shall you reap

There are 1 upper case letters, 21 lower case letters, 0 digits, 6 spaces and 1 symbols in the given string

Write a program in python , to accept a text from the console and replace a word in the text with another word.
The main text , the word to be replaced and the new word must be accepted from the console.

In [5]:
str_input = input("Enter your text:")
old = input("Enter word to replace:")
new = input("Enter the new word:")
if old in str_input:
    str_input = str_input.replace(old,new)
print("New text:", str_input)

Enter your text: im in love
Enter word to replace: in
Enter the new word: lost

New text: im lost love

Program to delete a pattern from an pre-defined text , the text and the pattern must be accepted from the console 
hint: - there is no built-in function to delete a pattern from a string

In [13]:
# Replace pattern with an empty string to delete it
str_input = input("Enter your text:")
pat = input("Enter pattern to delete:")
if pat in str_input:
    str_input = str_input.replace(pat, "")
print("New text:", str_input)

Enter your text: im in **$ area of vietnam and missing the cookies made in **$ bakery. Oh my **
Enter pattern to delete: **

New text: im in $ area of vietnam and missing the cookies made in $ bakery. Oh my

Slicing:
In python a collection data type and strings can be split into multiple strings using slice feature
syntax: string[start value: stop value: step value]
note: Slicing can be applied to all collection types.
The slicing logic in Python is that if the start index is greater than the stop index, it results in an empty string.
In Python, indexing starts at 0.

In [35]:
str1="Manorama Horizon - Python Training Oct 2024"
print("Entire Text:",str1)
print("From 5th character to 10th character:",str1[4:10])
print("First 10 characters of the text:",str1[:10])
print("Last 8 characters of the text:",str1[-8:])
print("Alternate characters of the text:",str1[::2])
print("Alternate from 2nd character of the text:",str1[1::2])
print("The text in reverse order:",str1[::-1])

Entire Text: Manorama Horizon - Python Training Oct 2024
From 5th character to 10th character: rama H
First 10 characters of the text: Manorama H
Last 8 characters of the text: Oct 2024
Alternate characters of the text: Mnrm oio  yhnTann c 04
Alternate from 2nd character of the text: aoaaHrzn-Pto riigOt22
The text in reverse order: 4202 tcO gniniarT nohtyP - noziroH amaronaM

In [31]:
print(str1[0])

M

In [33]:
print("From 5th character to 10th character:",str1[4:10])

From 5th character to 10th character: rama H

In [37]:
print("First 10 characters of the text:",str1[:10])

First 10 characters of the text: Manorama H

In [47]:
print("Last 8 characters of the text:",str1[-8:])

Last 8 characters of the text: Oct 2024

In [49]:
print("Alternate characters of the text:",str1[::2])

Alternate characters of the text: Mnrm oio  yhnTann c 04

In [51]:
print("Alternate from 2nd character of the text:",str1[1::2])

Alternate from 2nd character of the text: aoaaHrzn-Pto riigOt22

In [55]:
print("The text in reverse order:",str1[::-1])

The text in reverse order: 4202 tcO gniniarT nohtyP - noziroH amaronaM

Program to accept a string from the console and check whether the string is a palindrome or not , i.e. the string and the 
reversed string must be equal

In [70]:
str_input = input("Enter any string:").lower()
rev = str_input[::-1]
if rev == str_input:
    print("You entered a palindrome!!")
else:
    print("Oops its not a palindrome!!")

Enter any string: Racecar

You entered a palindrome!!

In [82]:
# Palindrome, ignoring spaces and punctuations
import re
str_input = input("Enter any string:")
str_clean = re.sub(r'[^a-zA-Z0-9]','',str_input).lower()
rev = str_clean[::-1]
if rev == str_clean:
    print("You entered a palindrome!!")
else:
    print("Oops its not a palindrome!!")

Enter any string: race, car

You entered a palindrome!!