Tuples in Python

In [1]:
# A tuple is a one-dimensional, IMMUTABLE, ORDERED sequence of items which can be of mixed data types.

In [3]:
first_tuple = (12,'Jack',45.6, 'new', (3,2), 'test')

In [5]:
first_tuple

(12, 'Jack', 45.6, 'new', (3, 2), 'test')

In [7]:
first_tuple[1]

'Jack'

In [11]:
first_tuple[1] = 'Jonas'    # IMMUTABLE Tuple object

TypeError: 'tuple' object does not support item assignment

In [13]:
first_tuple[-3]

'new'

In [15]:
first_tuple[-2]

(3, 2)

In [17]:
# Creating a Subset / Slice of the tuple
first_tuple[1:4]

('Jack', 45.6, 'new')

In [19]:
first_tuple[1:-1]

('Jack', 45.6, 'new', (3, 2))

In [21]:
first_tuple.append("KJ")

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
# Program to accept N elements into a tuple and print the same. Tuple will not allow accept values , so use a temperory list 
# for the same
# DYNAMICALLY Adding values to a Tuple
n = int(input("How many elements?"))
tlist = []
mytuple = ()
i=1
print(f"Enter {n} elements..OR Press Return key to exit")
while i<=n:
    ele = input()
    if ele =="":
        break
    tlist.append(ele)    
    i+=1
mytuple = tuple(tlist)
del tlist
print("Tuple created dynamically : ", mytuple)

How many elements? 4

Enter 4 elements..OR Press Return key to exit

 car
 67
 3.5
 bike

Tuple created dynamically :  ('car', '67', '3.5', 'bike')

In [39]:
# Program replace a value in the tuple of pre-defined values, accepted from the console.

mytuple = ('Egypt','Italy','Iran','Austria','Australia','Japan','Maldives','SriLanka')
print("Pre-defined Tuple:", mytuple)
old = input("Which value to replace?").title()
if old in mytuple:
    new = input("Enter the new value :").title()
    pos = mytuple.index(old)
    tlist = list(mytuple)
    tlist[pos] = new
    mytuple = tuple(tlist)
    del tlist
    print (f"{old} has been replaced with {new}") 
    print("Updated tuple:", mytuple)
else:
    print("Sorry....this value is not found in the Tuple. Try again...")

Pre-defined Tuple: ('Egypt', 'Italy', 'Iran', 'Austria', 'Australia', 'Japan', 'Maldives', 'SriLanka')

Which value to replace? iran
Enter the new value : usa

Iran has been replaced with Usa
Updated tuple: ('Egypt', 'Italy', 'Usa', 'Austria', 'Australia', 'Japan', 'Maldives', 'SriLanka')

In [5]:
# Try deleting a value from a pre-defined tuple. accept the value from the console

mytuple = ('Egypt','Italy','Iran','Austria','Australia','Japan','Maldives','SriLanka')
print("Pre-defined Tuple:", mytuple)
tlist = []
old = input("Which value to delete?").title()
if old in mytuple:
        pos = mytuple.index(old)
        tlist = list(mytuple)
        tlist.remove(old)
        mytuple = tuple(tlist)
        del tlist
else:
    print("Value not present in tuple...")
print("Updated tuple", sorted(mytuple))

Pre-defined Tuple: ('Egypt', 'Italy', 'Iran', 'Austria', 'Australia', 'Japan', 'Maldives', 'SriLanka')

Which value to delete? maldives

Updated tuple ['Australia', 'Austria', 'Egypt', 'Iran', 'Italy', 'Japan', 'SriLanka']

In [20]:
# Update above program to delete elements continuously, from user. Check if tuple becomes empty, alarm the user then.

mytuple = (12,44,33,76)
print("Pre-defined Tuple:", mytuple)
tlist = []
while mytuple:
    old = int(input("Which value to delete? Type 0 to exit"))
    if old ==0:
        print("Exiting..")
        break
        
    if old in mytuple:
        pos = mytuple.index(old)
        tlist = list(mytuple)
        tlist.remove(old)
        mytuple = tuple(tlist)
        print("Updated tuple", sorted(mytuple))
    else:
        print("Value not present in tuple...")
        
    if not mytuple:
        print("Caution ...Tuple is empty now")
del tlist

Pre-defined Tuple: (12, 44, 33, 76)

Which value to delete? Type 0 to exit 12

Updated tuple [33, 44, 76]

Which value to delete? Type 0 to exit 33

Updated tuple [44, 76]

Which value to delete? Type 0 to exit 44

Updated tuple [76]

Which value to delete? Type 0 to exit 76

Updated tuple []
Caution ...Tuple is empty now